* {
	border-radius: 0;
	font-family: Georgia, serif;

}

a {
	color: #01DFA5;
	font-style: italic;
}

h6 {
	color:#f5f5f5;
}

.panel-heading {
    background-color: #f5f5f5;
    border-color: #fffff;
    color: #333;
}
.panel {
	margin-top: 20px;
    background-color: #fff;
    border: 0;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    margin-bottom: 20px;
}

